@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* remove the little 'x' from each tab */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
    display: none !important;
}

/* disable the minimize, restore, close buttons for the firefox window
 * children elements are #minimize-button, #restore-button, #close-button */
#window-controls {
    display: none !important;
}

/* hide the back and forward buttons that are normally to the left of the url
 * bar */
#back-button, #forward-button {
      display: none;
}

/* make the text of tabs a little bolder, a little easier to read */
.tabbrowser-tab .tab-label {
    font-weight: 500 !important;
}

