/* mostly trying to override settings in:
 * chrome://global/skin/dirListing/dirListing.css
 */

/* -------------------------------------------------------------------------- */

@-moz-document url-prefix(file://){
    a {
        color: -moz-fieldtext;
        font-weight: bold;
    }

    th:last-child{
        text-align: left;
    }

    td:not(:first-child) {
        text-align: right;
}

/* -------------------------------------------------------------------------- */

@-moz-document url("about:newtab") {
    body { background-color: #191919 !important }
}

/* -------------------------------------------------------------------------- */
